{% extends 'layout/base.html' %}

{% block title %} myinfo {% endblock %}

{% block content %}
    <h2>회원정보</h2>
    <table id="info">
        <tr>
            <th>아이디</th>
            <td>
                qweasdqwe
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                aaaa
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>
                qweasdqwe@gmail.com
            </td>
        </tr>
        <tr>
            <th>가입일</th>
            <td>
                2022-05-27 12:17:36
            </td>
        </tr>
    </table>
{% endblock %}


