{% extends 'layout/base.html' %}

{% block title %} myinfo {% endblock %}

{% block content %}
{% if not request.session.userid %}
    <script>
        location.href = '/login';
    </script>
{% endif %}
    <h2>회원정보</h2>
    <table id="info">
        <tr>
            <th>아이디</th>
            <td>
                {{ member.userid }}
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                {{ member.name }}
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>
                {{ member.email }}
            </td>
        </tr>
        <tr>
            <th>가입일</th>
            <td>
                {{ member.regdate }}
            </td>
        </tr>
    </table>
{% endblock %}


