{% extends 'layout/base.html' %}

{% block title %} write {% endblock %}

{% block content %}
    <h2>게시판 본문글 수정하기</h2>
    <form name="boardfrm" method="post" id="write">
    {% csrf_token %}
        {{ error }}
        <div>
            <label for="title">제목</label>
            <input type="text" name="title" id="title" value="{{ bd.title }}">
        </div>
        <div>
            <label for="title">작성자</label>
            <span>{{ bd.member.userid }}</span>
        </div>
        <div>
            <label for="contents">본문</label>
            <textarea name="contents" id="contents" rows="10" cols="50">{{ bd.contents }}</textarea>
        </div>
        <div><label></label>
            <button type="button" id="mdfokbtn">수정완료</button>
            <button type="reset">다시입력</button>
        </div>
        <input type="hidden" name="bno" value="{{ bd.id }}">
    </form>
{% endblock %}
{% block jscript %}
    <script>
        const mdfokbtn = document.querySelector('#mdfokbtn')
        mdfokbtn.addEventListener('click', ()=>{
            const title  =document.boardfrm.title
            const contents  =document.boardfrm.contents
            if (title.value === ''){
                alert('제목을 작성하세요!');
                title.focus();
            }else if (contents.value === ''){
                alert('본문을 작성하세요!');
                contents.focus();
            } else {
                document.boardfrm.submit();
            }
        })
    </script>
{% endblock %}