{% extends 'layout/base.html' %}

{% block title %} list {% endblock %}

{% block content %}
        <h2>게시판 본문글</h2>
        <table id="view">
            <tr>
                <th>제목</th>
                <td>시간은 금이라구 친구! 진짜라구 친구! 정말이라고 친구!</td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>gazro</td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>2022-05-27 (777)</td>
            </tr>
            <tr>
                <th>본문</th>
                <td>
                    <div class="box">
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                        시간은 금이라구 친구!시간은 금이라구 친구!시간은 금이라구 친구!
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" onclick="location.href='board.html'">목록으로 이동</button>
                    <button type="button" onclick="location.href='write.html'">새글쓰기</button>
                    <button type="button">수정하기</button>
                    <button type="button">삭체하기</button>
                </td>
            </tr>
        </table>
{% endblock %}