{% extends 'layout/base.html' %}

{% block title %} view {% endblock %}

{% block content %}
    <h2>게시판 본문글</h2>
    <table id="view">
        <tr>
            <th>제목</th>
            <td>{{ bd.title }}</td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>{{ bd.member.userid }}</td>
        </tr>
        <tr>
            <th>작성일</th>
            <td>{{ bd.regdate|date:'Y-m-d h:i:s' }}</td>
        </tr>
        <tr>
            <th>조회수</th>
            <td>{{ bd.views }}</td>
        </tr>
        <tr>
            <th>본문</th>
            <td>
                <div class="box">{{ bd.contents }}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" onclick="location.href='board.html'">목록으로 이동</button>
                <button type="button" onclick="location.href='write.html'">새글쓰기</button>
                <button type="button" id="mdfbtn">수정하기</button>
                <button type="button" id="rmvbtn">삭체하기</button>
            </td>
        </tr>
    </table>
    <form name="board">
        <input type="hidden" name="bno" value="{{ bd.id }}">
    </form>
{% endblock %}
{% block jscript %}
    <script>
        const contects = document.querySelector('.box');
        const mdfbtn = document.querySelector('#mdfbtn');
        const rmvbtn = document.querySelector('#rmvbtn');
        const bno = document.board.bno.value;

        mdfbtn.addEventListener('click', ()=>{
            if (confirm('수정?')){
                location.href = '/modify/?bno='+bno;
            }
        });

        rmvbtn.addEventListener('click', () => {
            if (confirm('삭제?')){
                location.href = '/remove/?bno='+bno;
            }
        });
        contects.setAttribute('style', 'white-space: pre;');
    </script>
{% endblock %}